{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <div class="col-sm-12">
        <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam animi aut corporis distinctio dolores excepturi explicabo, facilis in, ipsum, labore laboriosam perferendis quas quibusdam tempora voluptatum? Aliquid distinctio quaerat repellat.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos eum harum, iste iusto modi provident quaerat repellat sapiente tempore veniam. Alias amet animi consequuntur cum dolores ipsa iusto labore, magnam magni nam nostrum numquam officia pariatur provident quae quaerat quam quasi quia reiciendis rem repudiandae sapiente sed temporibus. Alias commodi eligendi, enim fugit iste natus nesciunt quidem quis totam ullam!</p>
    </div>
{% endblock content %}